$primary-font: 'Rubik';
$primary-color: #f8f9fc;
$secondary-color: #313a5a;
$button-color: #1fdb84;
$font-button:#6fdeaa;
$image-background:#1fdb841a;
$font-color:#031d5b;
$heading-color:#32325c;
$grey: #5b6c94;
$white: #ffffff;
$border-color:#aefdd9;
$top-border:#0a8aff;
$opacity:#3671fc40;